<!DOCTYPE html>
<html>
<head>
	<title>Vue.js</title>
	<meta charset="utf-8" />
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
	<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body>
	<div id="app">
		<header class="header">

			{{ titulo }}

			<hr>

			<small v-html="subtitulo"></small>

		</header>
		<section class="container">
			<section class="container__content">

				{{ carregado ? 'SIM' : 'NÂO' }}

				

				<a :href="url">clique aqui</a>
				<hr>
				<br>
				<label for="contato">Nome do Contato</label>
				<br>
				<input type="text" v-model="contato">
				

				<button @click="btnClick">adicionar</button>

			</section>
			<aside class="container__sidebar">

				{{ nome }}

				<hr>

				{{ nome.split('').reverse().join('') }}

				<hr>

				<h3>Lista de Contatos (Total: {{ contatos.length }})</h3>

				<ul>
					<li v-for="contato in contatos">{{ contato }}</li>
				</ul>

			</aside>
		</section>
		<footer class="footer" v-text = "copyright">

			

		</footer>
	</div>

	<script src="script1.js"></script>
</body>
</html>
