<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<meta charset="utf-8">
		<title>Aula 7 - CSS | Formação Desenvolvedor Web Full-Stack Essencial</title>		
		<meta name="description" content="Como criar layouts e formatação visual para páginas web, aplicando recursos de CSS (Cascading Style Sheets)." />	
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />	
		
		<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
		
		
		<style>
			.field_soma {
				width: 100vw;
    			display: flex;
			}
		</style>
	</head>
	
	<body>

		<div id="lista">

			<ul>
				<li v-for="nome in nomes">
					{{ 'Nome: ' + nome.nome + ', Idade: ' + nome.idade }}
				</li>
			</ul>

			<hr>

			<div class="field_soma">
				<span> {{ n1 }} + {{ n2 }} = &nbsp;</span>
				<input type="text" v-model="n3" />
				<p v-if="n1 + n2 == parseInt(n3)">ACERTOU!!</p>
				<p v-if="n3 != '0' && n1 + n2 != parseInt(n3)">ERROU!!</p>
			</div>

			<div>{{ mostrar(nome) }}</div>
			<div>{{ testar() }}</div>

			<div v-for="pais in paises()">
				<p v-html="pais.bandeira"></p>
				<p v-html="pais.continente"></p>
			</div>

			<hr>

			<brasil></brasil>

			<hr>

			<pais :nome="chile"></pais>

		</div>

		<script src="script.js"></script>
	</body>
</html>
